<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>584738326345-r06sdkuig3esq0c1meebuttnpmad9tdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584738326345-r06sdkuig3esq0c1meebuttnpmad9tdo</string>
	<key>API_KEY</key>
	<string>AIzaSyCC5GZ4GiS380adf9RS1HXQN3hVOBRYt1M</string>
	<key>GCM_SENDER_ID</key>
	<string>584738326345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sethphat.BDSNhom6</string>
	<key>PROJECT_ID</key>
	<string>android-real-estate-8322a</string>
	<key>STORAGE_BUCKET</key>
	<string>android-real-estate-8322a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584738326345:ios:649083b47bbea538</string>
	<key>DATABASE_URL</key>
	<string>https://android-real-estate-8322a.firebaseio.com</string>
</dict>
</plist>